h3 Serial

.alert.alert-info(translate) Serial (COM) connection management is done through the "Profiles & connections" tab

button.btn.btn-primary((click)='newConnection()')
    i.fas.fa-plus.me-2
    span(translate) New Serial connection
