ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink, translate) General
        ng-template(ngbNavContent)
            .mb-3
                label(translate) Host
                input.form-control(
                    type='text',
                    [(ngModel)]='profile.options.host',
                )

            .mb-3
                label(translate) Port
                input.form-control(
                    type='number',
                    placeholder='22',
                    [(ngModel)]='profile.options.port',
                )

            .form-line
                .header
                    .title(translate) Raw mode
                    .description(translate) Pass-through TCP connection for serial port redirects. Disables Telnet negotiation, local echo, and newline conversion.
                toggle([(ngModel)]='profile.options.rawMode', (ngModelChange)='setRawMode($event)')

            stream-processing-settings(*ngIf='!profile.options.rawMode', [options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink, translate) Login scripts
        ng-template(ngbNavContent)
            login-scripts-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink, translate) Input
        ng-template(ngbNavContent)
            input-processing-settings([options]='profile.options.input')

div([ngbNavOutlet]='nav')
